body{
    display: flex;
    margin: 0;
    min-height: 100vmin;
    font-family: "Fira Code", sans-serif; 
    overflow-x: hidden;
    overflow-y: auto;
    background-color: whitesmoke; 
}

.mainContainer{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 4rem; 
    font-size: 2rem;
}

.logo{
    position: fixed;
    display: flex;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 10rem;
    padding: 1rem 5rem;
}

.imgContainer{
    background-image: url(images/image.avif);
    width: 26.3rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke
}

@media (max-width: 1080px) {
    body{
        flex-direction: column;
    }
    .logo{
        position: relative;
        justify-content: center;
        margin: 5rem 0;
    }
    .imgContainer{
        width: auto;
    }
    .mainContainer{
        align-self: center;
        max-width: 85%;
        padding: 1rem;
    }
}

button{
  font-family: inherit;
  font-weight: bold;
  border-radius: 0.5rem;
  border: solid #596D48;
  background-color: #596D48;
  color: whitesmoke;
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
}


img{
    height: 5rem;
}

.description span{
    font-style: italic;
}